/* Styling for centering */
.hangman-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

/* Styling for inner content */
.hangman-content {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
}

/* Styling for hangman figure*/
.hangman-figure {
  margin-right: 20px;
}
/* Styling for hangman image*/
.hangman-image {
  width: 200px;
  height: auto;
}
